*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: whitesmoke;
}
#container {
    min-width: 320px;
    width: 550px;
    padding: 20px;
}
.top {
    display: flex;
    align-items: center;
    gap: 10px;
}
.input-color {
    height: 42px;
    width: 51px;
    border: 0.5px solid grey;
}
select {
    width: 312px;
    height: 42px;
    outline: none;
    background-color: #1f2937;
    font-size: 17px;
    color: whitesmoke;
}
button {
    height: 42px;
    padding: 0 10px;
    background-color: #3a475a;
    color: whitesmoke;
    border: none;
}
button:hover {
    background-color: #4e5f77;
}
.color-container {
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.colors {
    display: flex;
    justify-content: center;
    height: 350px;
    width: 100%;
}
.value {
    align-self: flex-end;
    color: whitesmoke;
}

#copyText {
    position: fixed;
    top: 40px;
}
